@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Play');
@import url('https://fonts.googleapis.com/css?family=Squada+One');
@import url('https://fonts.googleapis.com/css?family=Gudea');

* {
	margin: 0;
	padding: 0;
}

header {
	margin-bottom: 0;
	height: 100px;
	background-image:url('MarsHeader.png');
	/*background-image:url('http://a.abcnews.com/images/Technology/HT_Mars_Opportunity_Rover_mm_160406_12x5_1600.jpg');*/
	background-color: black;
	border-bottom: black 1px solid;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	z-index: 1;
	height: 110px;
	background-repeat: no-repeat;
	border-bottom: 3px solid #D95204;
}


h1 {
	padding-top: 20px;
	font-size: 33px;
	font-family:'Squada One', cursive;
	padding: 30px;
	position: absolute;
	left: 1%;
	z-index: 3;
	top: 21%;
}

main {
	text-align: center;
	background-color: white;
	width: 980px;
    margin: 0 auto;
}

footer {
    background-color: #131212;
    position: fixed;
    width: 100%;
    margin-top: 624px;
    height: 25px;
    bottom: 0;
}

body {
	background-color: #131212;
	background-image: url("https://i.ytimg.com/vi/M2uBtg_PzKg/maxresdefault.jpg");
}

section {
	display: inline-block;
}

p {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	padding: 2px;
	margin-top: 7px;
}

img {
	border-radius: 50%;
}

.openPic {
	z-index: 1;
	margin-left: 30%;
	margin-top: 2%;
}

.miniMars {
	padding-left: 5px;
}

.modalTitle {
	font-family: 'Gudea', sans-serif;
	font-size: 24px;
}

.subTitle {
	font-family: 'Roboto', sans-serif;
}

.fb-share-button {
	margin-top: 14px;
	margin-right: 86%;
}

.twitter-share-button {
	float: right;
	margin-right: 3%;
	margin-top: -24px;
}

.footerText, .meInfo {
	color: #808080ab;
	font-size: 14px;
	float: right;
	font-family: 'Roboto', sans-serif;
}

.footerText {
	padding-left: 10px;
	padding-right: 4px;
}

.meInfo {
	padding-top: 3px;
}

.meInfo:hover {
	color: white;
}

.footerText:hover {
	color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.star {
	font-size: 12px;
	margin-top: 0px;
}

.infoText {
	position: relative;
	margin-top: 20%;
	float: left;
	margin-left: 1%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	padding: 12px 16px;
	border: solid black 1px;
	padding: 8px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.camera-dropdown {
	display: block;
	margin: auto;
	height: 25px;
}

.rover-dropdown {
	height: 25px;
}


.sol-number {
	margin-left: 20px;
}

.mainDiv {
	position: fixed;
	width: 1080px;
    margin: 0 auto;
}

.rover {
    margin-right: 20px;
}

.camera {
	margin-right: 20px;
}


.search-results {
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	right: 30%;
	top: 10%;
	padding-bottom: 45px;
	color: white;
}

.select {
	font-size: 14px;
}

.submit {
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	padding: 6px;
	margin-top: 10px;
	font-weight: bold;
	height: 40px;
	width: 250px;
    border: none;
    background-color: white;
    border: black solid 1px;
    cursor: pointer;
}


.fact {
	font-family: 'Roboto', sans-serif;
	width: 140px;
	border: solid black 1px;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 45px;
}

.roverDiv {
	width: 20px;
	margin-bottom: 20px;
}

.cameraDiv {
	width: 55px;
	margin-bottom: 20px;
}

.solDiv {
	width: 55px;
}

.sol {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: black;
}

.headerImage {
	float: left;
	margin: 0 auto;
	width: 22%;
	z-index: 2;
	top: 0%;
	position: absolute;
	margin-left: 0%
}

.marspic {
	border-radius: 0%;
	height: 111px;
}

.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 45px;
	cursor: pointer;
}

.mGlassPic:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
}

.startLink {
	text-decoration: none;
	color: black;
}

.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 20%;
	font-size: 30px;
	margin-left: 15%;
}

.start:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
}


.modal, .editModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: 0 auto;
    margin-right: 30px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: gray; /* Fallback color */
    background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 25px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 3%;
    margin-top: 5%;
}

.modal-contentEdit {
	background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}

/* The Close Button */
.close, .editClose {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.editClose {
	font-size: 38px;
	color: black;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#photo-search {
	margin-left: 25%;
	padding-bottom: 12px;
}

#rover-choice, #camera-choice, #sol-number {
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	padding: 7px;
	cursor: pointer;
}

#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 235px;
    margin-left: 0px;
    margin-bottom: 15px;
    border: black solid 1px;
}

#rover-choice {
	width: 250px;
	margin-top: 20px;
	height: 38px;
	margin-bottom: 5px;
}

#camera-choice {
	width: 250px;
	height: 38px;
	margin-bottom: 5px;
}



@media only screen and (min-width: 320px) {

	.search-results img {
		width: 80%;
	}

	.marspic {
		height: 87px;
		width: 265%;
	}
	.modal {
		margin-top: 22px;
	}
	.modalTitle {
		font-size: 22px;
	}
	header {
		height: 86px;
		background-repeat: no-repeat;
	}
	h1 {
		left: 17%;
		font-size: 22px;
		top: 3%;
	}
	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 5%;
	font-size: 21px;
	margin-left: 8%;
	top: 4%;
	}
	.search-results {
	right: 0%;
    top: 25%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
	}

	main {
		width: 100%;
	}

	.modal-content {
		width: 65%;
		padding: 35px;
	}
	#photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	padding: 2px;
	}
	.submit {
		width: 180px;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 160px;
    margin-left: 0px;
    border: black solid 1px;
	}
	#rover-choice {
	width: 160px;
	margin-top: 20px;
	border: solid black 1px;
	}

	#camera-choice {
	width: 160px;
	border: solid black 1px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	cursor: pointer;
	width: 40px;
	}
	footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 454px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 7%;
	float: left;
	margin-left: -29%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	}
	.fb-share-button {
	margin-top: 11px;
	margin-right: 5%;
	float: right;
	}

	.twitter-share-button {
	float: right;
	margin-right: 3%;
	margin-top: 11px;
	}
	.miniMars {
		width: 15%;
	}
	.openPic {
	z-index: 1;
	margin-left: 10%;
	margin-top: 40%;
	width: 80%;
	}
}


@media only screen and (min-width: 375px) {

	.search-results img {
		width: 80%;
	}

	.marspic {
		height: 87px;
		width: 210%;
	}
	.modal {
		margin-top: 35px;
	}
	header {
		height: 86px;
		background-repeat: no-repeat;
	}
	h1 {
		left: 15%;
		font-size: 22px;
		top: 2%;
	}
	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 5%;
	font-size: 21px;
	margin-left: 11%;
	top: 4%;
	}
	.search-results {
	right: 0%;
    top: 25%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
	}

	main {
		width: 100%;
	}

	.modal-content {
		width: 65%;
		padding: 35px;
	}
	#photo-search {
	margin-left: 5%;
	padding-bottom: 12px;
	}
	.submit {
		width: 180px;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 160px;
    margin-left: 0px;
    border: black solid 1px;
	}
	#rover-choice {
	width: 175px;
	margin-top: 20px;
	border: solid black 1px;
	}

	#camera-choice {
	width: 175px;
	border: solid black 1px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	cursor: pointer;
	width: 40px;
	}
	footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 554px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 9%;
	float: left;
	margin-left: -310px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	}
	.fb-share-button {
	margin-top: 3%;
	margin-right: 5%;
	float: right;
	}

	.twitter-share-button {
	float: right;
	margin-right: 3%;
	margin-top: 11px;
	}
	.miniMars {
		width: 15%;
	}
}

@media only screen and (min-width: 414px) {
	main {
		width: 250px;
	}
	.search-results img {
    	width: 80%;
    }

    .start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 5%;
	font-size: 21px;
	margin-left:12%;
	top: 4%;
	}
	.modal {
		margin-top: 60px;
	}

    .search-results {
    	right: 0%;
    	top: 27%;
    	margin: 0 auto;
    	font-size: 24px;
    	font-weight: bold;
    }
	.mainDiv {
		position: static;
	}
	body {
		position: fixed;
		width: 100%;
	}
	main {
		width: 100%;
	}
	.modal-content {
		width: 65%;
		padding: 35px;
	}
	.submit {
		width: 180px;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 160px;
    margin-left: 0px;
    border: black solid 1px;
	}
	#rover-choice {
	width: 160px;
	margin-top: 20px;
	border: solid black 1px;
	}

	#camera-choice {
	width: 160px;
	border: solid black 1px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	cursor: pointer;
	width: 40px;
	}
	footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 620px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 5%;
	float: left;
	margin-left: -28%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	}

	.marspic {
		height: 87px;
		width: 210%;
	}
	h1 {
		left: 13%;
		font-size: 22px;
		top: 8%;
	}
	p {
		width: 70%;
		margin: 0 auto;
	}
	.fb-share-button {
	margin-top: 3%;
	margin-right: 6%;
	float: right;
	}

	.twitter-share-button {
	float: right;
	margin-right: 3%;
	margin-top: 12px;
	}
	.openPic {
	z-index: 1;
	margin-left: 10%;
	margin-top: 20%;
	width: 80%;
	}
}

@media only screen and (min-width: 640px) {
	main {
		width: 250px;
	}
	.search-results img {
    	width: 70%;
   }
    .search-results {
    	right: 0%;
    	top: 110%;
    	margin: 0 auto;
    	font-size: 24px;
    	font-weight: bold;
    }
	.mainDiv {
		position: static;
	}
	 #photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	width: 50%;
	margin: 0 auto;
	}
	body {
		position: fixed;
		width: 100%;
	}
	.miniMars {
		width: 15%;
	}
}

	@media only screen and (min-width: 768px) {
	main {
		width: 100%;
	}
	h1 {
		top: 10%;
		left: 7%;
	}
	.modal {
		margin-top: 90px;
	}
	.modal-content {
		width: 60%;
	}

	.marspic {
		width: 110%;
	}
	.start {
		width: 50%;
	}
	.search-results img {
    	width: 100%;
    	margin-top: 180px;
    }
	.mainDiv {
		position: static;
	}

	.search-results {
    	right: 18%;
    	top: 10%;
    	margin: 0 auto;
    	width: 60%;
    	font-size: 24px;
    	font-weight: bold;
    }
    .infoText {
		margin-left: 160px;
	}
    #photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	width: 50%;
	margin: 0 auto;
	}
    body {
		position: relative;
	}
	footer {
		margin-top: 912px;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 200px;
	}
	.fb-share-button {
	margin-top: 1%;
	margin-right: 7%;
	float: right;
	}

	.twitter-share-button {
	float: right;
	margin-right: 3%;
	margin-top: 9px;
	}
	.openPic {
	z-index: 1;
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
	}
}

@media only screen and (min-width: 960px) {
	main {
		width: 100%;
	}
	.search-results img {
    	width: 100%;
    }
	.mainDiv {
		position: static;
	}

	.search-results {
		right: 41%;
		font-size: 24px;
    	font-weight: bold;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 200px;
	}
	.miniMars {
		width: 15%;
	}
}

@media only screen and (min-width: 1024px) {
	main {
		width: 100%;
	}
	.search-results img {
    	width: 100%;
    	margin-top: 240px;
    }
	.mainDiv {
		position: static;
	}

	 .search-results {
    	right: 27%;
    	top: 10%;
    	margin: 0 auto;
    	width: 50%;
    	font-size: 24px;
    	font-weight: bold;
    }

    .marspic {
	border-radius: 0%;
	height: 111px;
	}
	.modalTitle {
		font-size: 24px;
	}
	.modal-content {
		width: 60%;
	}
	.modal {
		margin-top: 120px;
	}

	h1 {
	padding-top: 20px;
	font-size: 33px;
	font-family:'Squada One', cursive;
	padding: 30px;
	position: absolute;
	left: 2%;
	z-index: 3;
	top: 11%;
	}

	header {
	margin-bottom: 0;
	height: 100px;
	background-color: black;
	border-bottom: black 1px solid;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	z-index: 1;
	height: 110px;
	border-bottom: 3px solid #D95204;
	}
	footer {
		margin-top: 1228px;
	}

	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 10%;
	font-size: 30px;
	margin-left: 20%;
	}
	#photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	width: 50%;
	margin: 0 auto;
	}
	.infoText {
		margin-left: 250px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 32px;
	cursor: pointer;
	width: 50px;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 300px;
	}
	.fb-share-button {
	float: right;
	margin-top: 10px;
	margin-right: 4%;
	}

	.twitter-share-button {
	float: right;
	margin-right: 3%;
	margin-top: 10px;
	}
	.miniMars {
		width: 15%;
	}
	.openPic {
	z-index: 1;
	margin-left: 10%;
	margin-top: 7%;
	width: 80%;
	}

}

@media only screen and (min-width: 1280px) {
	main {
	text-align: center;
	background-color: white;
	width: 100%;
    margin: 0 auto;
	}
	.search-results {
	margin-top: 120px;
	font-family: 'Orbitron', sans-serif;
	position: absolute;
	right: 20%;
	top: 25%;
	font-size: 24px;
	}
	.search-results img {
    margin-top: 40px;
    margin-left: 0px;
    }
	.mainDiv {
	position: fixed;
	width: 1080px;
    margin: 0 auto;
	}
	.search-results {
    	right: 27%;
    	top: 5%;
    	margin: 0 auto;
    	width: 35%;
    	font-size: 24px;
    	font-weight: bold;
    }
    .modal-content {
    margin: 10% auto; /* 15% from the top and centered */
    padding: 25px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 1%;
    margin-top: 5%;
	}
	#photo-search {
	margin-left: 25%;
	padding-bottom: 12px;
	}

	.submit {
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	padding: 6px;
	margin-top: 10px;
	font-weight: bold;
	height: 40px;
	width: 250px;
    border: black solid 1px;
    background-color: white;
	}
	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 20%;
	font-size: 30px;
	margin-left: 0%;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 235px;
    margin-left: 0px;
    margin-bottom: 15px;
	}

	#rover-choice {
	width: 250px;
	margin-top: 20px;
	height: 38px;
	margin-bottom: 5px;
	border: solid black 1px;
	}

	#camera-choice {
	width: 250px;
	height: 38px;
	margin-bottom: 5px;
	border: solid black 1px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 38px;
	cursor: pointer;
	width: 50px;
	}
	footer {
    background-color: #131212;
    position: fixed;
    width: 100%;
    margin-top: 580px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 25%;
	float: left;
	margin-left: -50%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	}
	.marspic {
		height: 111px;
		width: 80%;
	}
	h1 {
		left: 20px;
		font-size: 33px;
		top: 14%;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 160px;
	}
	.footerClass {
	color: white;
	font-size: 14px;
	float: right;
	}
	.fb-share-button {
	float: right;
	margin-top: 8px;
	margin-right: 4%;
	}

	.twitter-share-button {
	float: right;
	margin-right: 1%;
	margin-top: 8px;
	}
	.miniMars {
		width: 10%;
		padding-left: 5px
	}
	.modal {
		margin-top: 0px;
	}
	.openPic {
	z-index: 1;
	margin-left: 30%;
	margin-top: 3%;
	width: 40%;
	}

}


