@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Play');
@import url('https://fonts.googleapis.com/css?family=Squada+One');

* {
	margin: 0;
	padding: 0;
}

header {
	margin-bottom: 0;
	height: 100px;
	/*background-image:url('http://a.abcnews.com/images/Technology/HT_Mars_Opportunity_Rover_mm_160406_12x5_1600.jpg');*/
	background-color: black;
	border-bottom: black 1px solid;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	z-index: 1;
	height: 110px;
}


h1 {
	padding-top: 20px;
	font-size: 33px;
	font-family:'Squada One', cursive;
	padding: 30px;
	position: absolute;
	left: 1%;
	z-index: 3;
	top: 21%;
}

main {
	text-align: center;
	background-color: #A9A9A9;
	width: 980px;
    margin: 0 auto;
}

footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 624px;
    height: 25px;
}

body {
	background-color: white;
}

section {
	display: inline-block;
}

p {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	padding: 2px;
	margin-top: 7px;
}

img {
	border-radius: 50%;
}

a {
	text-decoration: none;
	color: black;
}

.dropdown {
	position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.star {
	font-size: 12px;
	margin-top: 0px;
}

.infoText {
	position: relative;
	margin-top: 20%;
	float: left;
	margin-left: 1%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	padding: 12px 16px;
	border: solid black 1px;
	padding: 8px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.camera-dropdown {
	display: block;
	margin: auto;
	height: 25px;
}

.rover-dropdown {
	height: 25px;
}


.sol-number {
	margin-left: 20px;
}

.mainDiv {
	position: fixed;
	width: 1080px;
    margin: 0 auto;
}

.rover {
    margin-right: 20px;
}

.camera {
	margin-right: 20px;
}


.search-results {
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	right: 30%;
	top: 10%;
}


.select {
	font-size: 14px;
}

.submit {
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	padding: 6px;
	margin-top: 10px;
	font-weight: bold;
	height: 35px;
	width: 250px;
    border: none;
    background-color: white;
}


.fact {
	font-family: 'Roboto', sans-serif;
	width: 140px;
	border: solid black 1px;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 45px;
}

.roverDiv {
	width: 20px;
	margin-bottom: 20px;
}

.cameraDiv {
	width: 55px;
	margin-bottom: 20px;
}

.solDiv {
	width: 55px;
}

.sol {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: white;
}


.headerImage {
	float: left;
	margin: 0 auto;
	width: 22%;
	z-index: 2;
	top: 0%;
	position: absolute;
	margin-left: 0%
}

.marspic {
	border-radius: 0%;
	height: 111px;
}

.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 45px;
	cursor: pointer;
}

.mGlassPic:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
}

.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 20%;
	font-size: 30px;
	margin-left: 15%;
}

.start:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
}


.modal, .editModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: 0 auto;
    margin-right: 30px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: gray; /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 25px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5%;
    margin-top: 5%;
}

.modal-contentEdit {
	background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}

/* The Close Button */
.close, .editClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.editClose {
	font-size: 38px;
	color: black;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#photo-search {
	margin-left: 25%;
	padding-bottom: 12px;
}

#rover-choice, #camera-choice, #sol-number {
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	padding: 7px;
}

#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 235px;
    margin-left: 0px;
}

#rover-choice {
	width: 250px;
	margin-top: 20px;
}

#camera-choice {
	width: 250px;
}



@media only screen and (min-width: 320px) {

	.search-results img {
		width: 80%;
	}

	.marspic {
		height: 87px;
		width: 265%;
	}
	header {
		height: 86px;
	}
	h1 {
		left: -3%;
		font-size: 22px;
		top: 4%;
	}
	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 5%;
	font-size: 21px;
	margin-left: 7%;
	top: 4%;
	}
	.search-results {
	right: 0%;
    top: 35%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
	}

	main {
		width: 100%;
	}

	.modal-content {
		width: 55%;
		padding: 35px;
	}
	#photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	}
	.submit {
		width: 180px;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 160px;
    margin-left: 0px;
	}
	#rover-choice {
	width: 160px;
	margin-top: 20px;
	}

	#camera-choice {
	width: 160px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 25px;
	cursor: pointer;
	width: 40px;
	}
	footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 454px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 5%;
	float: left;
	margin-left: 3%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	}
}


@media only screen and (min-width: 375px) {

	.search-results img {
		width: 80%;
	}

	.marspic {
		height: 87px;
		width: 210%;
	}
	header {
		height: 86px;
	}
	h1 {
		left: -4%;
		font-size: 22px;
		top: 2%;
	}
	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 5%;
	font-size: 21px;
	margin-left: 10%;
	top: 4%;
	}
	.search-results {
	right: 0%;
    top: 32%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
	}

	main {
		width: 100%;
	}

	.modal-content {
		width: 55%;
		padding: 35px;
	}
	#photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	}
	.submit {
		width: 180px;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 160px;
    margin-left: 0px;
	}
	#rover-choice {
	width: 175px;
	margin-top: 20px;
	}

	#camera-choice {
	width: 175px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 25px;
	cursor: pointer;
	width: 40px;
	}
	footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 554px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 5%;
	float: left;
	margin-left: -55px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	}
}

@media only screen and (min-width: 414px) {
	main {
		width: 250px;
	}
	.search-results img {
    	width: 80%;
    }

    .start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 5%;
	font-size: 21px;
	margin-left:12%;
	top: 4%;
	}

    .search-results {
    	right: 0%;
    	top: 120%;
    	margin: 0 auto;
    	font-size: 24px;
    	font-weight: bold;
    }
	.mainDiv {
		position: static;
	}
	body {
		position: fixed;
		width: 100%;
	}
	main {
		width: 100%;
	}
	.modal-content {
		width: 55%;
	}
	.modal-content {
		width: 55%;
		padding: 35px;
	}
	.submit {
		width: 180px;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 160px;
    margin-left: 0px;
	}
	#rover-choice {
	width: 160px;
	margin-top: 20px;
	}

	#camera-choice {
	width: 160px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 25px;
	cursor: pointer;
	width: 40px;
	}
	footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 620px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 5%;
	float: left;
	margin-left: 3%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	}
	img {
		width: 80%;
	}

	.marspic {
		height: 87px;
		width: 210%;
	}
	h1 {
		left: -1%;
		font-size: 22px;
		top: 5%;
	}
	p {
		width: 70%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 640px) {
	main {
		width: 250px;
	}
	.search-results img {
    	width: 70%;
   }
    .search-results {
    	right: 0%;
    	top: 110%;
    	margin: 0 auto;
    	font-size: 24px;
    	font-weight: bold;
    }
	.mainDiv {
		position: static;
	}
	 #photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	width: 50%;
	margin: 0 auto;
	}
	body {
		position: fixed;
		width: 100%;
	}
}

	@media only screen and (min-width: 768px) {
	main {
		width: 100%;
	}
	h1 {
		top: 7%;
		left: -1%;
	}

	.marspic {
		width: 110%;
	}
	.start {
		width: 50%;
	}
	.search-results img {
    	width: 100%;
    	margin-top: 180px;
    }
	.mainDiv {
		position: static;
	}

	.search-results {
    	right: 18%;
    	top: 55%;
    	margin: 0 auto;
    	width: 60%;
    	font-size: 24px;
    	font-weight: bold;
    }
    .infoText {
		margin-left: 250px;
	}
    #photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	width: 50%;
	margin: 0 auto;
	}
    body {
		position: relative;
	}
	footer {
		margin-top: 912px;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 200px;
	}
}

@media only screen and (min-width: 960px) {
	main {
		width: 100%;
	}
	.search-results img {
    	width: 100%;
    }
	.mainDiv {
		position: static;
	}

	.search-results {
		right: 41%;
		font-size: 24px;
    	font-weight: bold;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 200px;
	}
}

@media only screen and (min-width: 1024px) {
	main {
		width: 100%;
	}
	.search-results img {
    	width: 100%;
    	margin-top: 240px;
    }
	.mainDiv {
		position: static;
	}

	 .search-results {
    	right: 27%;
    	top: 50%;
    	margin: 0 auto;
    	width: 52%;
    	font-size: 24px;
    	font-weight: bold;
    }

    .marspic {
	border-radius: 0%;
	height: 111px;
	}

	h1 {
	padding-top: 20px;
	font-size: 33px;
	font-family:'Squada One', cursive;
	padding: 30px;
	position: absolute;
	left: -1%;
	z-index: 3;
	top: 21%;
	}

	header {
	margin-bottom: 0;
	height: 100px;
	background-color: black;
	border-bottom: black 1px solid;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	z-index: 1;
	height: 110px;
	}
	footer {
		margin-top: 1228px;
	}

	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 10%;
	font-size: 30px;
	margin-left: 20%;
	}
	#photo-search {
	margin-left: 0%;
	padding-bottom: 12px;
	width: 40%;
	margin: 0 auto;
	}
	.infoText {
		margin-left: 330px;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 300px;
	}

}

@media only screen and (min-width: 1280px) {
	main {
	text-align: center;
	background-color: #A9A9A9;
	width: 100%;
    margin: 0 auto;
	}
	.search-results {
	margin-top: 120px;
	font-family: 'Orbitron', sans-serif;
	position: absolute;
	right: 20%;
	top: 25%;
	font-size: 24px;
	}
	.search-results img {
    margin-top: 0px;
    margin-left: 0px;
    }
	.mainDiv {
	position: fixed;
	width: 1080px;
    margin: 0 auto;
	}
	.search-results {
    	right: 27%;
    	top: 120%;
    	margin: 0 auto;
    	width: 35%;
    	font-size: 24px;
    	font-weight: bold;
    }
    .modal-content {
    background-color: black;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 25px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5%;
    margin-top: 5%;
	}
	#photo-search {
	margin-left: 25%;
	padding-bottom: 12px;
	}

	.submit {
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	padding: 6px;
	margin-top: 10px;
	font-weight: bold;
	height: 35px;
	width: 250px;
    border: none;
    background-color: white;
	}
	.start {
	font-family:'Squada One', cursive;
	text-decoration: none;
	float: left;
	margin-top: 20%;
	font-size: 30px;
	margin-left: 0%;
	}
	#sol-number {
	margin-bottom: 10px;
	border-radius: 5px;
    padding: 4px;
    width: 235px;
    margin-left: 0px;
	}

	#rover-choice {
	width: 250px;
	margin-top: 20px;
	}

	#camera-choice {
	width: 250px;
	}
	.mGlassPic {
	border-radius: 0%;
	float: right;
	margin-right: 30px;
	margin-top: 45px;
	cursor: pointer;
	}
	footer {
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 624px;
    height: 25px;
	}
	.infoText {
	position: relative;
	margin-top: 20%;
	float: left;
	margin-left: 1%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	}
	.marspic {
		height: 111px;
		width: 80%;
	}
	h1 {
		left: 1%;
		font-size: 33px;
	}
	p {
		width: 85%;
		margin: 0 auto;
		margin-top: 160px;
	}

}


